<div class="container">
   <h1>Sign up</h1>
     <form #myForm="ngForm" (ngSubmit) = "submitForm(myForm)" >

      <!-- Username -->
       <div class="form-group">
         <label for="username">Username</label>
         <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" required #username="ngModel">
       </div>
       <!-- Username Validation-->
       <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
        <div [hidden]="!username.errors.required">
          Username is required!
        </div>
       </div>

       <!-- First Name -->
       <div class="form-group">
         <label for="firstname">First Name</label>
         <input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" name="firstname" required #firstname="ngModel">
       </div>
       <!-- First Name Validation-->
       <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)" class="alert alert-danger">
        <div [hidden]="!firstname.errors.required">
          First name is required!
        </div>
       </div>

       <!-- Last Name -->
       <div class="form-group">
         <label for="lastname">Last Name</label>
         <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" name="lastname" required #lastname="ngModel">
       </div>
       <!-- Last Name Validation-->
       <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="alert alert-danger">
        <div [hidden]="!lastname.errors.required">
          Last name is required!
        </div>
       </div>


       <!-- Email -->
       <div class="form-group">
         <label for="email">Email</label>
         <input type="email" class="form-control" id="email" required [(ngModel)]="model.email" name="email" required #email="ngModel">
       </div>
       <!-- Email Validation-->
       <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          Email is required!
        </div>
       </div>

       <!-- Password -->
       <div class="form-group">
         <label for="password">Password</label>
         <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" required #password="ngModel">
       </div>
       <!-- Password Validation-->
       <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          Password is required!
        </div>
       </div>

       <!-- Password Confirmation -->
       <div class="form-group">
         <label for="confirmpassword">Confirm Password</label>
         <input type="password" class="form-control" id="confirmpassword" required [(ngModel)]="model.confirmpassword" name="confirmpassword" required #confirmpassword="ngModel">
       </div>
       <!-- Password Confirmation Validation-->
       <div *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched)" class="alert alert-danger">
        <div [hidden]="!confirmpassword.errors.required">
          Password confirmation is required!
        </div>

       </div>

       <button type="submit" class="btn btn-default" [disabled]="!myForm.form.valid">Submit</button>
     </form>
 </div>

 <div>
   <h2>Register model:</h2>
   {{ currentCredentials }}
 </div>
