html, body{
	background-color: lightyellow;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
h1{ 
	text-align: center;
}
p{
	text-align: center;
}
#map {
	width:50%;
	height:70%;
	background:lightblue;
	margin-right: auto;
	margin-left: auto;
}
#mainButton{
	width: 160px;
	height: 40px;
	margin: auto;
	margin-top: 1%;
	display: block;
;
}


