<sebm-google-map
      [latitude]="lat"
      [longitude]="long"
      [zoom] ="zoom">
      <sebm-google-map-marker
        *ngFor="let m of bikeMarkers; let i = index"
        (markerClick)="clickedMarker(m.id.$oid, i)"
        [latitude]="m.coords.x"
        [longitude]="m.coords.y"
        [markerDraggable]="m.status"
        (dragEnd)="markerDragEnd(m, $event)">
        <sebm-google-map-info-window>
         <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

        </sebm-google-map-marker>
 </sebm-google-map>
